{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Tu carrito de compras
{% endblock %}

{% block content %}
  <h1>Tu carrito de compras</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Eliminar</th>
        <th>Precio unitario</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Actualizar">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" product.id %}">Eliminar</a></td>
            <td class="num">Q. {{ item.price }}</td>
            <td class="num">Q. {{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      {% if cart.coupon %}
        <tr class="subtotal">
          <td>Subtotal</td>
          <td colspan="4"></td>
          <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
        </tr>
        <tr>
          <td>
            "{{ cart.coupon.code }}" coupon
            ({{ cart.coupon.discount }}% off)
          </td>
          <td colspan="4"></td>
          <td class="num neg">
            - ${{ cart.get_discount|floatformat:"2" }}
          </td>
        </tr>
      {% endif %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">
          ${{ cart.get_total_price_after_discount|floatformat:"2" }}
        </td>
      </tr>
    </tbody>
  </table>
<p>Canjear un Cupon:</p>
<form action="{% url "coupons:apply" %}" method="post">
  {{ coupon_apply_form }}
  <input type="submit" value="Canjear">
  {% csrf_token %}
</form>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button light">Continuar Comprando</a>
    <a href="{% url "orders:order_create" %}" class="button">
      Comprar
    </a>
  </p>
{% endblock %}