{% extends "shop/base.html" %}

{% block title %}
  Ordenar
{% endblock %}

{% block content %}
  <h1>Ordenar</h1>

  <div class="order-info">
    <h3>Tu orden</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>Q. {{ item.total_price|floatformat:"2" }}</span>
        </li>
      {% endfor %}
      {% if cart.coupon %}
        <li>
          "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
          <span>- Q. {{ cart.get_discount|floatformat:"2" }}</span>
        </li>
      {% endif %}
    </ul>
    <p>Total: Q. {{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Ordenar"></p>
    {% csrf_token %}
  </form>
{% endblock %}